<template>
  <div class="activity">
<!--    <div class="activity-time" :class="{ nowText: activityIsNow }" :style="colorStyle">{{ timeText }}:</div>-->
    <div class="activity-icon" :class="{ nowIcon: activityIsNow }">
       <span class="fa-stack" v-if="!updating">
           <i class="fas fa-square fa-stack-2x"  :style="colorStyle"></i>
           <i class="fas fa-stack-1x fa-inverse" :class="icon"></i>
       </span>
        <div class="activity-name" :style="colorStyle">
          {{ name }}
        </div>
    </div>
    <div class="activity-time" v-if="activityIsNow" :class="{ nowText: activityIsNow }" :style="colorStyle"><i class="fas fa-hand-point-down"></i></div>
    <div class="activity-time" v-if="!activityIsNow" :class="{ nowText: activityIsNow }" :style="colorStyle"><i class="fas fa-hand-point-right"></i></div>
  </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
  name: 'ActivityPreview',
  components: {
  },
  data() {
    return {
      updating: false
    }
  },
  props: {
    timeText: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    activityIsNow: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    colorStyle() {
      return {
        "color": this.color
      }
    }
  },
  watch: {
    icon(newval, oldval) {
      // set to true and re-render to trick/trigger font awesome to re-render
      this.updating = true
      this.$nextTick(() => {
        this.updating = false;
      });
    }
  }
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/schedule/activity';
</style>
