<template>
  <div class="activity-row-container">
    Nieuwe Activiteit toevoegen
    <div class="activity-row">
      <div class="activity-info-item">
        <div class="icon" :style="backgroundColor">
          <i class="fas" :class="icon"></i>
        </div>
        Activiteit:
        <select v-model="selectedActivity" required>
          <option value="" disabled selected>Selecteer activiteit</option>
          <option v-for="activity in activities"
                  :label="activity.name"
                  :value="activity._id"
          >{{activity.name}}</option>
        </select>
      </div>
      <div class="activity-info-item">
        Begintijd:
        <input type="time" v-model="selectedTime" required>
<!--        <i class="fas fa-clock time-icon"></i>-->
<!--        {{this.formattedTime(time)}}-->
      </div>
      <div class="activity-info-item last">
        <a class="cancel">Annuleren</a>
        <a class="add" @click="addActivityItem">Toevoegen</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import gql from "graphql-tag";
export default Vue.extend({
  name: 'AddClientActivityRow',
  components: {
  },
  created() {
  },
  data () {
    return {
      activities: [],
      selectedActivity: null,
      selectedTime: null,
      selectedTimeString: null
    }
  },
  props: {
    scheduleID: {
      type: String,
      required: true,
    },
    scheduleDay: {
      type: String,
      required: true,
    },
    clientID: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: false,
      default: "#c7c7c7c9"
    },
    icon: {
      type: String,
      required: false,
      default: "fa-question"
    },
    name: {
      type: String,
      required: false
    },
  },
  methods: {
    formattedTime(time) {
      var timeString = time.toString()

      var hours = 0;
      if(timeString.length === 3){
        hours = timeString.substr(0, 1)
      } else {
        hours = timeString.substr(0, 2)
      }
      var minutes = timeString.substr(-2)
      return hours + ":" + minutes
    },
    async addActivityItem() {
      if(this.selectedActivity !== null && this.selectedTime !== null){

        // console.log(this.scheduleID)



        // split time
        var timeSplit = this.selectedTime.split(":")
        // create military time notation
        this.selectedTimeString = timeSplit[0] + "" + timeSplit[1]
        // run the setItem query using the military time notation

        if(this.scheduleID !== ""){
          console.log("SetItem called")
          this.$apollo.queries.setItem.start()
        } else {
          console.log("SetSchedule called")
          // this.$apollo.queries.setSchedule.start()

          var self = this;

          this.$apollo.mutate({
            mutation: gql`mutation setSchedule($day: days! $clientID: ID! $time: Int! $activityID: ID!) {
              setSchedule(day: $day clientID: $clientID){
                _id
                setItem(time: $time activityID: $activityID){
                  time
                }
              }
            }`,
            variables: {
              day: this.scheduleDay,
              clientID: this.clientID,
              time: parseInt(this.selectedTimeString),
              activityID: this.selectedActivity
            },
            update (data) {
              self.selectedTimeString = null
              self.selectedTime = null
              self.selectedActivity = null
            },
            result ({ data, loading, networkStatus }) {
              console.log("Results are in!")
              console.log(data)
            },
            // Error handling
            error(error) {
              console.error('We\'ve got an error!', error)
            }
          })
        }
      } else {
        alert("Vul A.U.B. Beide velden in")
      }
    }
  },
  computed: {
    barColor() {
      return {
        "border-left": "10px solid " + this.color
      }
    },
    backgroundColor() {
      return {
        "background-color": this.color
      }
    }
  },
  apollo: {
    activities: {
      query: gql`query activities {
        activities{
          _id
          name
          icon
          color
        }
      }`,
      result({data, loading, networkStatus}) {
        this.activities = data.activities
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      }
    },
    setItem: {
      query: gql`query setItem($id: ID! $time: Int! $activityID: ID!) {
        schedule(id: $id){
          _id
          setItem(time: $time activityID: $activityID){
            time
          }
        }
      }`,
      variables() {
        return {
          id: this.scheduleID,
          time: parseInt(this.selectedTimeString),
          activityID: this.selectedActivity
        }
      },
      update (data) {
        this.selectedTimeString = null
        this.selectedTime = null
        this.selectedActivity = null
      },
      result ({ data, loading, networkStatus }) {
        this.$apollo.queries.setItem.stop()
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      },
      skip: true
    },

  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/editClient/acitivityRow';
@import '../../assets/css/editClient/addClientAcitivityRow';
</style>
