#nav-container {
  width: 100%;
  display: flex;
  justify-content: center;

  #nav {
    display: flex;
    //justify-content: center;
    width: clamp(400px, 50%, 1250px);
    margin-top: 30px;

    a {
      text-decoration: none;
      font-size: 1.1em;
      background-color: $oroPink;
      color: white;
      padding: 0 15px;
      border-radius: 5px;
      margin-right: 15px;
      line-height: 40px;
    }

  }
}