@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


$textcolor: #242425;
//$background: #f4f6fc;
$background: #f1f1f1;

$oroPurple: #5e2859;
$oroYellow: #f3b229;
$oroPink: #ef5483;

* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

html, body, #app{
  height: 100vh;
}

body {
  margin: 0;
  background-color: $background;
  color: $textcolor;
}

input {
  width: 100%;
  padding: 15px;
  border: none;
  box-shadow: 2px 2px #00000012;
  border-radius: 5px;
  //padding-left: 45px;
  font-weight: 600;
  border-left: 3px solid $oroYellow;
}

select {
  width: 100%;
  padding: 15px;
  border: none;
  box-shadow: 2px 2px #00000012;
  border-radius: 5px;
  //padding-left: 45px;
  font-weight: 600;
  border-left: 3px solid $oroYellow;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adacac;
  opacity: 1; /* Firefox */
}

:focus, input:focus {
  outline: none;
}

label{
  margin: 20px 0 10px;
  display: block;
  font-weight: bold;
}

a {
  font-weight: 600;
  color: $oroPink;
  text-decoration: none;
  cursor: pointer;
}



.search-bar {
  position: relative;
  margin-bottom: 40px;

  .icon {
    position: absolute;
    margin: 15px;
    color: #adacac;
  }

  input[type="text"] {
    padding-left: 45px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #adacac;
    opacity: 1; /* Firefox */
  }

  :focus, input:focus {
    outline: none;
  }
}

#search-bar {
  width: 100%;
  margin: 20px 0;
}