.client-row-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #00000012;
  margin-top: 20px;
  border-left: 3px solid $oroPurple;
  .client-row {
    display: flex;
    justify-content: space-between;

    .last {
      text-align: right;
      font-weight: 600;

      a{
        text-decoration: none;
        color: $oroPink;
        margin-left: 20px
      }
    }
  }
}