#background-wrapper {
  width: 100%;
  height: 100%;

  #dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;

    #dashboard {
      width: clamp(400px, 50%, 1250px);

      #dashboard-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 30px 0;

        #dashboard-title {
          font-size: 2em;
          font-weight: 600;
          width: 50%;
        }

        #dashboard-add-client {
          display: flex;
          justify-content: flex-end;
          width: 50%;

          .add-client-button {
            background-color: $oroPurple;
            border: none;
            padding: 10px;
            color: white;
            font-weight: 500;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
          }
        }
      }

      #row-headers {
        //color: #bfc5d2;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 10px -10px;
        color: $oroPurple;
        display: flex;

        .client-row-header {
          width: 33%;
        }

      }

      #clients {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }
}