<template>
  <div id="activities-container">
    <div id="activities">
      <div id="activities-title">
        Activiteiten
      </div>

      <div id="activities-add-activity-container">
        <div id="activities-add-activity">
          <div id="add-activity-button" @click="newActivityOpen = !newActivityOpen">
            <i class="fas fa-plus"></i>
          </div>
        </div>
        <add-activity-row v-if="newActivityOpen" />
      </div>

      <div class="search-bar">
        <i class="fa fa-search icon"></i>
        <input type="text" v-model="searchParams" placeholder="Zoek activiteit">
      </div>
      <div id="activities-list">
        <activity-row v-for="activity in activities"
                             :color="activity.color"
                             :name="activity.name"
                             :icon="activity.icon"/>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import Vue from 'vue';
import ActivityRow from "@/components/ActivityRow";
import GlobalActivityRow from "@/components/activities/GlobalActivityRow";
import ClientActivityRow from "@/components/ActivityRow";
import AddActivityRow from "@/components/activities/AddActivityRow";


export default Vue.extend({
  name: 'Activities',
  components: {
    AddActivityRow,
    ClientActivityRow,
    GlobalActivityRow,
    ActivityRow
  },
  data() {
    return {
      activities: [],
      searchParams: "",
      filteredActivities: null,
      newActivityOpen: true
    }
  },
  created() {

  },
  methods: {
  },
  apollo: {
    getActivities: {
      query: gql`query getActivities{
        activities{
          _id
          name
          color
          icon
        }
      }`,
      update (data) {
      },
      result ({ data, loading, networkStatus }) {
        this.activities = data.activities
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      },
    },
  },
});
</script>

<style lang="scss" scoped>
@import '../assets/css/activities/activities';
</style>
