<!--Implement time bar for seeing when activity begins / activity is over-->

<template>
  <div id="background-wrapper">
    <div id="dashboard-container">
      <div id="dashboard">
        <div id="dashboard-header">
          <div id="dashboard-title">
            Cliënten
          </div>
          <div id="dashboard-add-client">
            <router-link to="editclient">
              <div class="add-client-button"><i class="fas fa-plus"/> Cliënt toevoegen</div>
            </router-link>
          </div>
        </div>

        <div class="search-bar">
          <i class="fa fa-search icon"></i>
          <input type="text" v-model="searchParams" placeholder="Zoek client">
        </div>

        <div id="row-headers">
          <div class="client-row-header">Naam</div>
        </div>
        <div id="clients">
          <client-row v-for="client in filteredClients"
                      :first-name="client.firstName"
                      :last-name="client.lastName"
                      :client-i-d="client._id"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActivityPreview from "@/components/schedule/ActivityPreview"; // @ is an alias to /src
import gql from 'graphql-tag'

import Vue from 'vue';
import ClientRow from "@/components/dashboard/ClientRow";

export default Vue.extend({
  name: 'Dashboard',
  components: {
    ClientRow,
    ActivityPreview
  },
  data() {
    return {
      clients: [],
      clientID: null,
      searchParams: "",
      filteredClients: null
    }
  },
  created() {
    const urlParams = new URLSearchParams(window.location.search);
    this.clientID = urlParams.get('client');

  },
  watch: {
    searchParams(newval, oldval) {
      this.filteredClients = this.clients.filter((el) => {
        if(el.firstName.toLowerCase().includes(this.searchParams.toLowerCase()) || el.lastName.toLowerCase().includes(this.searchParams.toLowerCase())){
          return true
        }
      })
    }
  },
  apollo: {
    clients: {
      query: gql`query clients {
        clients{
          firstName
          lastName
          _id
        }
      }`,
      variables() {
        return {
          id: this.clientID
        }
      },
      pollInterval: 500,
      result({data, loading, networkStatus}) {
        this.clients = data.clients
        this.filteredClients = data.clients
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import '../assets/css/dashboard/dashboard';
</style>
