<template>
  <div id="edit-client-container">
    <div id="edit-client">
      <div id="client-title">
        Cliënt
      </div>
      <div id="client-info">
        <div class="client-info-item">
          <label>Voornaam</label>
          <input type="text" v-model="client.firstName" placeholder="Vul voornaam in"required/>
        </div>
        <div class="client-info-item">
          <label>Achternaam</label>
          <input type="text" v-model="client.lastName" placeholder="Vul achternaam in" required/>
        </div>
        <div id="client-info-save" @click="updateUser">
          <i class="fas fa-save"></i> Client opslaan
        </div>
      </div>
      <div id="client-schedule" v-if="clientID">
        <div id="schedule-title">
          Schema's
        </div>
        <div id="schedules">
          <div class="schedule-day" v-for="(scheduleday, index) in schedules"
               @click="selectedDay = scheduleday.day; setActiveSchedules(index)"
               :class="{'active': selectedDay === scheduleday.day, 'empty': scheduleday.timeTable.length === 0}">
            {{ scheduleday.day }}
          </div>
        </div>
        <div id="schedule-activities" v-if="schedules.length > 0 && this.selectedDayIndex !== null">
          <div id="activities-header">
            <div id="activities-title">
              Activiteiten
            </div>
            <div id="new-activity" @click="newActivityOpen = !newActivityOpen">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <add-client-activity-row
              :schedule-day="schedules[selectedDayIndex].day"
              :client-i-d="clientID"
              :schedule-i-d="schedules[selectedDayIndex]._id"
              v-if="newActivityOpen"/>

          <activity-row
              :schedule-i-d="schedules[selectedDayIndex]._id"
              v-for="timeTableItem in schedules[selectedDayIndex].timeTable"
              :time="timeTableItem.time"
              :icon="timeTableItem.activity.icon"
              :color="timeTableItem.activity.color"
              :name="timeTableItem.activity.name"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import Vue from 'vue';
import ClientRow from "@/components/dashboard/ClientRow";
import ActivityRow from "@/components/ActivityRow";
import AddClientActivityRow from "@/components/editClient/AddClientActivityRow";

export default Vue.extend({
  name: 'EditClient',
  components: {
    AddClientActivityRow,
    ActivityRow,
    ClientRow,
  },
  data() {
    return {
      client: {},
      clientID: null,
      schedules: [],
      selectedDay: "",
      selectedDayIndex: null,
      newActivityOpen: false,
      scheduleOrder: ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"]
    }
  },
  created() {
    const urlParams = new URLSearchParams(window.location.search);
    this.clientID = urlParams.get('client');


    if(this.clientID !== null) {
      this.$apollo.queries.client.start()
    }
  },
  methods: {
    setActiveSchedules(index) {
      // set to null and re-render to trick/trigger font awesome to re-render
      this.selectedDayIndex = null
      this.$nextTick(() => {
        this.selectedDayIndex = index
      });
    },
    updateUser(){
      if(this.client.firstName && this.client.lastName){


        console.log(this.clientID)

        if(this.clientID){
          // update if clientID was found

          console.log("here")
          this.$apollo.queries.setClient.start()

        } else {
          // create if no clientID was found
          this.$apollo.mutate({
            mutation: gql`mutation setClient($firstName: String! $lastName: String!) {
              setClient(firstName: $firstName lastName: $lastName){
                _id
              }
            }`,
            variables: {
              firstName: this.client.firstName,
              lastName: this.client.lastName
            },

          }).then((data) => {
            this.clientID = data.data.setClient._id
            this.$router.replace({ path: 'editclient', query: { client: this.clientID }})

            this.$apollo.queries.client.start()
          })
              .catch((error) => {
                console.error('We\'ve got an error!', error)
              })
        }

      } else {
        alert("Vul A.U.B. Alle velden in!")
      }
    }

  },
  apollo: {
    client: {
      query: gql`query client($id: String!) {
        client(id: $id){
          firstName
          lastName
          schedules{
          _id
            day
            timeTable{
              time
              activity{
                name
                icon
                color
              }
            }
          }
        }
      }`,
      variables() {
        return {
          id: this.clientID
        }
      },
      skip: true,
      pollInterval: 500,
      result({data, loading, networkStatus}) {
        var schedules = data.client.schedules
        this.client = data.client

        this.schedules = []

        // sort the arrays for display purposes on day names
        // var scheduleOrder = ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"]

        for(var d = 0; d < this.scheduleOrder.length; d++) {
          // Day of week (scheduleOrder)
          var day = this.scheduleOrder[d];
          var timeTable = [];
          var id = ""

          for(var i = 0; i < schedules.length; i++) {
            if(schedules[i]?.day === day) {
              // sort the timetable by time
              timeTable = schedules[i].timeTable.sort((a,b) => {
                return a.time - b.time
              })
              // push schedule to array
              id = schedules[i]._id;
            }
          }

          this.schedules.push({
            day: day,
            _id: id,
            timeTable: timeTable
          });
        }
        if(this.selectedDayIndex === null) {
          // select first by default
          this.selectedDay = this.schedules[0].day
          this.selectedDayIndex = 0
        } else {
          var selectedday = this.selectedDayIndex
          this.selectedDayIndex = null
          this.$nextTick(() => {
            this.selectedDayIndex = selectedday
          });
        }
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      }
    },
    setClient: {
      query: gql`query setClient($id: ID! $firstName: String! $lastName: String!) {
        setClient(_id: $id firstName: $firstName lastName: $lastName){
          _id
        }
      }`,
      variables() {
        return {
          id: this.clientID,
          firstName: this.client.firstName,
          lastName: this.client.lastName,
        }
      },
      update (data) {
      },
      result ({ data, loading, networkStatus }) {
        this.$apollo.queries.setClient.stop()
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      },
      skip: true
    },
  },
});
</script>

<style lang="scss" scoped>
@import '../assets/css/editClient/editClient';
</style>
