<template>
  <div id="scheduele-container">
    <div id="scheduele">
      <div id="scheduele-now" v-if="currentActivity !== null">
        <activity-preview
            :name="currentActivity.activity.name"
            :color="currentActivity.activity.color"
            :icon="currentActivity.activity.icon"
            :activity-is-now="true"
            time-text="NU"/>
      </div>
      <div id="scheduele-later" v-if="nextActivity !== null">
        <activity-preview
            :name="nextActivity.activity.name"
            :color="nextActivity.activity.color"
            :icon="nextActivity.activity.icon"
            time-text="Straks"/>
      </div>
      <div id="progress-bar-container" v-if="nextActivity !== null">
        <div id="progress-bar-full">
          <div id="progress-bar-progress" :style="{width: this.progress + '%'}">
          </div>
        </div>
        <div id="progress-bar-time">
          {{timeleft}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActivityPreview from "@/components/schedule/ActivityPreview"; // @ is an alias to /src
import gql from 'graphql-tag'

import Vue from 'vue';

export default Vue.extend({
  name: 'Scheduele',
  components: {
    ActivityPreview
  },
  data() {
    return {
      account: [],
      clientID: null,
      timeTableToday: "",
      currentActivity: null,
      nextActivity: null,
      countDownInterval: null,
      progress: 0,
      timeleft: null

    }
  },
  created() {
    const urlParams = new URLSearchParams(window.location.search);
    this.clientID = urlParams.get('client');

    this.$apollo.queries.client.start()

    // check if next activity has begun
    setInterval(() =>{
      var now = parseInt(new Date().getHours() + "" + (new Date().getMinutes()<10?'0':'') + new Date().getMinutes())

      if(this.nextActivity !== null){
        if(now >= this.nextActivity.time){
          this.setActivities()
        }
      }
    }, 1000)
  },
  apollo: {
    client: {
      query: gql`query client($id: String!) {
        client(id: $id){
          firstName
          schedules{
            day
            timeTable{
              time
              activity{
                name
                icon
                color
              }
            }
          }
        }
      }`,
      variables() {
        return {
          id: this.clientID
        }
      },
      skip: true,
      pollInterval: 500,
      result({data, loading, networkStatus}) {
        // get the date today
        var today = new Date()
        var dayToday = today.toLocaleString('nl-NL', {  weekday: 'long' })
        dayToday = dayToday.charAt(0).toUpperCase() + dayToday.slice(1)

        // loop through the gotten schedules
        for(var i = 0; i < data.client.schedules.length; i++){
          var schedule = data.client.schedules[i]

          // check if the schedule is for today
          if(schedule.day === dayToday){
            // set today's timetable
            this.timeTableToday = schedule.timeTable
          }
        }
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      }
    },
  },
  methods: {
    setActivities () {
      // get the current date and time in military time format
      var now = new Date()
      var currentTime = parseInt(now.getHours() + "" + (now.getMinutes()<10?'0':'') + now.getMinutes())

      // copy the timetable as to not create an infinite watch loop
      var timeTable = JSON.parse(JSON.stringify(this.timeTableToday))


      // sort the timetable by time
      timeTable.sort((a,b) => {
        return a.time - b.time
      })

      // get the current activity
      var currentActivity = null;
      for(var i = 0; i < timeTable.length; i++){
        if(currentTime >= timeTable[i].time){
          currentActivity = timeTable[i]
        }
      }
      // set the current activity after it's been gotten
      var indexCurrentActivity = timeTable.indexOf(currentActivity)
      this.currentActivity = currentActivity

      // if there's a next activity scheduled, show it or don't show it
      if(typeof timeTable[indexCurrentActivity+1] !== "undefined"){
        this.nextActivity = timeTable[indexCurrentActivity+1]
      } else {
        this.nextActivity = null
      }

      if(this.nextActivity !== null){
        this.setCounter()
      }
    },
    setCounter() {
      if(this.countDownInterval === null){
        // show amount of time left until next activity
        this.countDownInterval = setInterval(() =>{

          // set time time for the current activity
          var timeCurrentActivity = new Date(Date.now())

          timeCurrentActivity.setHours(this.currentActivity.time.toString().substr(0, 2));
          console.log(timeCurrentActivity)
          timeCurrentActivity.setMinutes(this.currentActivity.time.toString().substr(2, 2))
          console.log(timeCurrentActivity)
          timeCurrentActivity.setSeconds(0)


          // set time time for the next activity
          var timeNextActivity = new Date(Date.now())
          timeNextActivity.setHours(this.nextActivity.time.toString().substr(0, 2));
          timeNextActivity.setMinutes(this.nextActivity.time.toString().substr(2, 2))
          timeNextActivity.setSeconds(0)


          var progressbarMilliseconds = timeNextActivity.getTime() - timeCurrentActivity.getTime()
          var progressbarProgressMilliseconds = timeNextActivity.getTime() - new Date().getTime()
          this.progress = (progressbarProgressMilliseconds / progressbarMilliseconds) * 100

          console.log(timeNextActivity)
          // console.log(progressbarMilliseconds)


          this.timeleft = this.getTime(progressbarProgressMilliseconds)

        }, 1000)
      }

    },
    getTime(milliseconds) {
      let seconds = Math.floor((milliseconds / 1000) % 60);
      let minutes = Math.floor(((milliseconds / (1000 * 60)) % 60));
      let hours = Math.floor(((milliseconds / (1000 * 60 * 60)) % 24));

      let string = "";
      if (hours > 0) {
        string += `${hours} uur `
      }
      if(minutes === 1) {
        string += `${minutes} minuut `
      }
      if (minutes > 1) {
        string += `${minutes} minuten `
      }
      if (seconds === 1) {
        string += `${seconds} seconde `
      }
      if (seconds > 1) {
        string += `${seconds} seconden `
      }
      if (string === "") {
        string = `${milliseconds} milliseconden`
      }
      return string.substr(0, string.length)
    },
  },
  watch: {
    timeTableToday(newval, oldval) {
      // console.log(newval)
      this.setActivities()
    }
  }
});
</script>

<style lang="scss" scoped>
@import '../assets/css/schedule/scheduele';
</style>
