<template>
  <div class="activity-row-container">
    Nieuwe Activiteit toevoegen
    <div class="activity-row">
      <div class="activity-info-item">
        <div class="icon" :style="backgroundColor">
          <i class="fas" :class="icon"></i>
        </div>
        <input type="text" placeholder="Activiteit"/>

      </div>
      <div class="activity-info-item">

      </div>
      <div class="activity-info-item last">
        <a class="cancel">Annuleren</a>
        <a class="add" @click="addActivityItem">Toevoegen</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import gql from "graphql-tag";
export default Vue.extend({
  name: 'AddActivityRow',
  components: {
  },
  created() {
  },
  data () {
    return {
      SelectedIcon: null,
      selectedTime: null,
      selectedTimeString: null
    }
  },
  props: {
    color: {
      type: String,
      required: false,
      default: "#c7c7c7c9"
    },
    icon: {
      type: String,
      required: false,
      default: "fa-question"
    },
    name: {
      type: String,
      required: false
    },
  },
  methods: {
    // async addActivityItem() {
    //   if(this.selectedActivity !== null && this.selectedTime !== null){
    //
    //     // split time
    //     var timeSplit = this.selectedTime.split(":")
    //     // create military time notation
    //     this.selectedTimeString = timeSplit[0] + "" + timeSplit[1]
    //     // run the setItem query using the military time notation
    //
    //     if(this.scheduleID !== ""){
    //       console.log("SetItem called")
    //       this.$apollo.queries.setItem.start()
    //     } else {
    //       console.log("SetSchedule called")
    //       // this.$apollo.queries.setSchedule.start()
    //
    //       var self = this;
    //
    //       this.$apollo.mutate({
    //         mutation: gql`mutation setSchedule($day: days! $clientID: ID! $time: Int! $activityID: ID!) {
    //           setSchedule(day: $day clientID: $clientID){
    //             _id
    //             setItem(time: $time activityID: $activityID){
    //               time
    //             }
    //           }
    //         }`,
    //         variables: {
    //           day: this.scheduleDay,
    //           clientID: this.clientID,
    //           time: parseInt(this.selectedTimeString),
    //           activityID: this.selectedActivity
    //         },
    //         update (data) {
    //           self.selectedTimeString = null
    //           self.selectedTime = null
    //           self.selectedActivity = null
    //         },
    //         result ({ data, loading, networkStatus }) {
    //           console.log("Results are in!")
    //           console.log(data)
    //         },
    //         // Error handling
    //         error(error) {
    //           console.error('We\'ve got an error!', error)
    //         }
    //       })
    //     }
    //   } else {
    //     alert("Vul A.U.B. Beide velden in")
    //   }
    // }
  },
  computed: {
    barColor() {
      return {
        "border-left": "10px solid " + this.color
      }
    },
    backgroundColor() {
      return {
        "background-color": this.color
      }
    }
  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/editClient/acitivityRow';
@import '../../assets/css/editClient/addClientAcitivityRow';
@import '../../assets/css/activities/addAcitivityRow';
</style>
