<template>
  <div class="activity-row-container">
    <div class="activity-row">
      <div class="activity-info-item">
        <div class="icon" :style="backgroundColor">
          <i class="fas" :class="icon"></i>
        </div>
        {{name}}
      </div>
      <div class="activity-info-item last">
        <a @click="">Wijzigen</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import gql from "graphql-tag";
export default Vue.extend({
  name: 'GlobalActivityRow',
  components: {
  },
  created() {

  },
  data () {
    return {
    }
  },
  props: {
    color: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
  },
  methods: {
  },
  apollo: {
  },
  computed: {
    barColor() {
      return {
        "border-left": "10px solid " + this.color
      }
    },
    backgroundColor() {
      return {
        "background-color": this.color
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/editClient/acitivityRow';
</style>
