<template>
  <div id="select-icon-container">
    <div id="select-icon">
      <div id="select-icon-button">
        Icoon kiezen
      </div>
      <div id="select-icon-popover">

      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import icons from "@/assets/icons.json"

export default Vue.extend({
  name: 'SelectIcon',
  components: {},
  created() {
    // console.log(Object.keys(icons).length)
    // console.log(Object.keys(icons))
  }
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/activities/selectIcon';
</style>
