#activities-container {
  width: 100%;
  display: flex;
  justify-content: center;

  #activities {
    width: clamp(400px, 50%, 1250px);

    #activities-title {
      font-size: 2em;
      font-weight: 600;
      width: 50%;
      margin: 50px 0 0;
    }

    .search-bar {
      margin-top: 10px;
    }



    #activities-add-activity {
      display: flex;
      justify-content: flex-end;

      #add-activity-button {
        font-size: 0.8em;
        background-color: $oroPink;
        color: white;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
      }

    }
  }
}