#select-icon-container {
  margin-left: 50px;
  width: 30%;
  #select-icon {
    width: 30%;
    #select-icon-button {
      background-color: $oroPurple;
      border: none;
      padding: 10px;
      color: white;
      font-weight: 500;
      border-radius: 5px;
      font-size: 1em;
      border-left: 3px solid $oroPurple;
      cursor: pointer;
    }

    #select-icon-popover {
      
    }

  }
}