<template>
  <div class="activity-row-container">
    <div class="activity-row">
      <div class="activity-info-item">
        <div class="icon" :style="backgroundColor">
          <i class="fas" :class="icon"></i>
        </div>
        {{name}}
      </div>
      <div class="activity-info-item" v-if="time">
        <i class="fas fa-clock time-icon"></i>
        {{this.formattedTime(time)}}
      </div>
      <div class="activity-info-item last" v-if="scheduleID">
        <a @click="$apollo.queries.delItem.start()">Verwijderen</a>
      </div>
      <div class="activity-info-item last" v-if="!scheduleID">
        <a @click="">Wijzigen</a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import gql from "graphql-tag";
export default Vue.extend({
  name: 'ActivityRow',
  components: {
  },
  created() {

  },
  data () {
    return {
    }
  },
  props: {
    scheduleID: {
      type: String,
      required: false,
      default: null
    },
    time: {
      type: Number,
      required: false,
      default: 0
    },
    color: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
  },
  methods: {
    formattedTime(time) {
      var timeString = time.toString()

      var hours = 0;
      if(timeString.length === 3){
        hours = timeString.substr(0, 1)
      } else {
        hours = timeString.substr(0, 2)
      }
      var minutes = timeString.substr(-2)
      return hours + ":" + minutes
    },
    delItem() {
      console.log(this.scheduleID)
      console.log(this.time)

      // $apollo.queries.delItem.start()

    }
  },
  apollo: {
    delItem: {
      query: gql`query delItem($id: ID! $time: Int!) {
        schedule(id: $id){
          _id
          delItem(time: $time){
            time
          }
        }
      }`,
      variables() {
        return {
          id: this.scheduleID,
          time: this.time,
        }
      },
      update (data) {

      },
      result() {
        this.$apollo.queries.delItem.stop()
      },
      // Error handling
      error(error) {
        console.error('We\'ve got an error!', error)
      },
      skip: true
    }
  },
  computed: {
    barColor() {
      return {
        "border-left": "10px solid " + this.color
      }
    },
    backgroundColor() {
      return {
        "background-color": this.color
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import '../assets/css/editClient/acitivityRow';
</style>
