.activity-row-container {
  .activity-row {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #00000012;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
    font-weight: 600;


    .activity-info-item {
      display: flex;
      align-items: center;
      width: 33%;

      .icon {
        font-size: 1.3em;
        margin-right: 15px;
        border-radius: 5px 0 0 5px;
        color: white;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 55px;
      }

      .time-icon {
        margin-right: 5px;
        color: #0000004a;
      }
    }

    .last {
      display: flex;
      justify-content: flex-end;
    }
  }
}