.activity-row-container {
  margin-bottom: 40px;
  .activity-row {
    .activity-info-item {
      input {
        width: 30%;
        box-shadow: 2px 2px 4px 0 #00000026;
        background-color: #f1f1f1;
        border: none;
        padding: 7px;
      }

      select {
        width: 70%;
        box-shadow: 2px 2px 4px 0 #00000026;
        background-color: #f1f1f1;
        border: none;
        padding: 7px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      input[type=number] {
        -moz-appearance:textfield; /* Firefox */
      }

      .time-divider {
        margin: 0 5px
      }
    }

    .last {
      width: 10%;
      .cancel {
        margin-right: 20px;
        color: rgba($oroPink, 0.6);
      }

      .add {
        color: inherit;
      }
    }
  }
}