#edit-client-container {
  width: 100%;
  display: flex;
  justify-content: center;

  #edit-client {
    width: clamp(400px, 50%, 1250px);

    #client-title {
      font-size: 2em;
      font-weight: 600;
      width: 50%;
      margin: 50px 0 0;
    }

    #client-info {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      .client-info-item {
        width: 35%;
        margin-right: 20px;
      }

      #client-info-save {
        width: fit-content;
        text-decoration: none;
        font-size: 1.1em;
        background-color: #ef5483;
        color: white;
        padding: 0 15px;
        border-radius: 5px;
        margin-right: 15px;
        line-height: 40px;
        margin-top: 20px;
        justify-self: flex-end;
        cursor: pointer;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      }

    }

    #client-schedule {
      margin-bottom: 120px;

      #schedule-title {
        font-size: 1.5em;
        margin: 50px 0 0;
      }

      #schedules {
        display: flex;
        margin-top: 20px;
        //justify-content: space-evenly;
        .schedule-day {
          width: 10%;
          height: 90px;
          box-shadow: 2px 2px #00000012;
          border-radius: 5px;
          background-color: white;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          border-left: 3px solid $oroPink;
          cursor: pointer;
          margin-right: 15px;
          font-size: 0.8em;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
        }
        .empty {
          border-left: 3px solid #777;
        }

        .active {
          background-color: $oroPink;
          box-shadow: none;
          color: white;
          border-left: none;

          .empty {
            background-color: #777;
          }
        }
      }

      #schedule-activities {
        #activities-header {
          display: flex;
          justify-content: space-between;
          margin: 50px 0 0;
          font-size: 1.3em;

          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;

          #new-activity{
            font-size: 0.8em;
            background-color: $oroPink;
            color: white;
            border-radius: 5px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
          }
        }
      }
    }

  }
}