<template>
  <div class="client-row-container">
    <div class="client-row">
      <div class="client-row-item">
        {{ firstName }} {{ lastName }}
      </div>
      <div class="client-row-item last">
        <router-link :to="'/?client=' + clientID">Schema</router-link>
        <router-link :to="'editclient?client=' + clientID">Wijzigen</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
  name: 'ClientRow',
  components: {
  },
  props: {
    firstName: {
      type: String,
      required: true
    },
    lastName: {
      type: String,
      required: true
    },
    clientID: {
      type: String,
      required: true
    },
  },
});
</script>

<style lang="scss" scoped>
@import '../../assets/css/dashboard/clientRow';
</style>
