.activity {
  display: flex;
  font-size: 4rem;
  align-items: center;

  .nowText {
    font-size: 12rem
  }

  .nowIcon {
    font-size: 8rem
  }

  .activity-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .activity-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }

  .activity-icon.nowIcon {
    .activity-name {
      font-size: 3rem;
    }
  }

}