#scheduele-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  //margin: 50px 0;

  #scheduele {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    flex-direction: column;

    #scheduele-later {
      //display: flex;

    }


    #progress-bar-container {
      width: 100%;
      #progress-bar-full {
        width: 100%;
        background-color: #d4d4d4;
        height: 15px;
        border-radius: 5px;
        #progress-bar-progress {
          //width: 50%;
          height: 100%;
          border-radius: 5px;
          background-color: $oroPink;

        }
      }
      #progress-bar-time {
        text-align: center;
        margin-top: 20px;
        font-size: 1.5em;
        color: $oroYellow;
      }
    }
  }
}