<template>
  <div id="app">
    <div id="nav-container">
      <div id="nav" v-if="this.$route.path !== '/'">
        <router-link to="dashboard">Cliënten</router-link>
        <router-link to="activities">Activiteiten</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import './assets/css/global.scss';
@import './assets/css/app.scss';
</style>
